-----------Team 48------------
| Name          | Student ID |
|---------------|------------|
| Yifei ZHANG   | 1174267    |
| Yibo HUANG    | 1380231    |
| Hanzhang SUN  | 1379790    |
| Liyang CHEN   | 1135879    |
| Yueyang WU    | 1345511    |

In [1]:
import json
import pandas as pd
from collections import defaultdict

In [2]:
phn_map = pd.read_excel('../VIC_LGA_2021_PHN_2017.xlsx',dtype=str)

In [3]:
phn_map.head()

  LGA_CODE_2021 LGA_NAME_2021 PHN_CODE_2017      PHN_NAME_2017 RATIO_FROM_TO
0         10050        Albury        PHN205             Murray             1
1         20110        Alpine        PHN205             Murray             1
2         20260        Ararat        PHN206   Western Victoria             1
3         20570      Ballarat        PHN206   Western Victoria             1
4         20660       Banyule        PHN202  Eastern Melbourne             1

In [4]:
phn_map.columns

Index(['LGA_CODE_2021', 'LGA_NAME_2021', 'PHN_CODE_2017', 'PHN_NAME_2017',
       'RATIO_FROM_TO'],
      dtype='object')

In [5]:
data_dir = 'sorted_newData/merged_data_bbox/'
filename = "../sorted/PM/PM_original/PM_merged_data_with_bbox.json"
output = 'PM.json'
with open(data_dir+filename, "r") as file:
    data = json.load(file)

In [6]:
data.keys()

dict_keys(['20110', '20260', '20570', '20660', '20740', '20830', '20910', '21010', '21110', '21180', '21270', '21370', '21450', '21610', '21670', '21750', '21830', '21890', '22110', '22170', '22250', '22310', '22410', '22490', '22620', '22670', '22750', '22830', '22910', '22980', '23110', '23190', '23270', '23350', '23430', '23670', '23810', '23940', '24130', '24210', '24250', '24330', '24410', '24600', '24650', '24780', '24850', '24900', '24970', '25060', '25150', '25250', '25340', '25430', '25490', '25620', '25710', '25810', '25900', '25990', '26080', '26170', '26260', '26350', '26430', '26490', '26610', '26670', '26700', '26730', '26810', '26890', '26980', '27070', '27170', '27260', '27350', '27450', '27630', '29399'])

In [7]:
mapped = defaultdict()
for i in data.keys():
    print(i)
    match = phn_map[phn_map['LGA_CODE_2021']==i].iloc[0]
    name = match['PHN_NAME_2017']
    if name not in mapped.keys():
        mapped[name] = dict()
    mapped[match['PHN_NAME_2017']][match['LGA_NAME_2021']] = data[i]

20110
20260
20570
20660
20740
20830
20910
21010
21110
21180
21270
21370
21450
21610
21670
21750
21830
21890
22110
22170
22250
22310
22410
22490
22620
22670
22750
22830
22910
22980
23110
23190
23270
23350
23430
23670
23810
23940
24130
24210
24250
24330
24410
24600
24650
24780
24850
24900
24970
25060
25150
25250
25340
25430
25490
25620
25710
25810
25900
25990
26080
26170
26260
26350
26430
26490
26610
26670
26700
26730
26810
26890
26980
27070
27170
27260
27350
27450
27630
29399

In [8]:
with open(output,'w') as out:
    json.dump(mapped,out,indent=2)